body{
    font-family: 'Open Sans', sans-serif; font-size: 18px;
}
.my-bgcolor{
    background-color: #DCDCDC;
}
.no-border{
  border: none;
  outline: none;
}
.size-img-vid {
    padding: 0px;
    border: 1px solid white;
}
.zoom-img {
  overflow: hidden;
  position: relative;
}
.zoom-img:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255,255,255,0.3);
  opacity: 0;
  transition: opacity .25s;
}
.zoom-img img {
  transition: transform .25s;
  width: 100%;
}
.zoom-img:hover img {
  transform: scale(1.2);
}
.zoom-img:hover:after {
  opacity: 1;
}
.button-enabled{
  cursor: pointer;
  outline: none;
  border: none;
  color: gray;
  background-color: white;
}
.button-enabled:active {
  background-color: white;
  transform: translateY(4px);
  outline: none;
  border: none;
}
.dropdown-item:active{
    color:black;
    background-color: #E7E7E7;
}
.nav-pills .pill-color .nav-link:not(.active) {
    background-color: white;
    color: grey;
}
.nav-pills .pill-color .nav-link {
    background-color: grey;
    color: white;
}
